*{	
	margin: 0;
	padding: 0;
}
body{background: lightcyan;}
form{text-align: center;}

#fieldset {border: none;}
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
.logo {
	width: 130px;
}
.tituloPrincipal {
	text-align: center;
	color: darkcyan;
	font-size: 80px;
}
.bg-light {
    background-color: #0191b4!important;
}
.footerBg {
	background-color: #0191B4;
}
.card {
		    background-color: #a8dede;
}
.card-text:last-child {
	font-family: sans-serif;
}

.navbar-expand-lg .navbar-collapse {
	justify-content: flex-end;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(16 8 113 / 90%)
}
.w-100 {
    width: 90%!important;
    margin: auto;
}
.rowNav {
	background-color: #0191b4;
}
.card-img, .card-img-bottom, .card-img-top {
	height: 70%;
}
.imagenEnfermera {
	width: 100%;
}
.tituloNombre {
	text-align: center;
	color: darkcyan;
	font-size: 80px;
}
.tituloServicios {
	text-align: center;
	color: darkcyan;
	font-size: 80px;
}
.ayudarte {
	text-align: center;
	color: darkcyan;
	font-size: 30px;
}
.card-deck {
	padding: 15px;
}
.card {
	width: 100%;
	margin-top: 20px;
}
.tituloPersonalizado {
	font-size: 50px;
	color: darkcyan;
	border-bottom: solid 5px #65d6a6;
}
.navbar {
	padding: 0;
}
.row {
	margin-right: 0px;
}

ul li {
	padding: 20px;
}

li a {
	font-weight: bold;
}
